* {
    --bookWidth: 200px;
    --bookHeight: 200px;
}

body {
    --brightness: 1;
    height: 100vh;
    background: linear-gradient(to right bottom, rgba(5, 25, 55, var(--brightness)), rgba(0, 77, 122, var(--brightness)), rgba(0, 135, 147, var(--brightness)), rgba(0, 191, 114, var(--brightness)), rgba(168, 235, 18, var(--brightness)));
}

.overlay {
    filter: brightness(30%);
}

.newBookModal {
    --modalHeight: 400px;
    --modalWidth: 400px;
    width: var(--modalWidth);
    height: var(--modalHeight);
    position: absolute;
    left: calc(50% - var(--modalWidth) / 2);
    top: calc(50% - var(--modalHeight) / 2);
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    z-index: 10;
}

.modalButton {
    width: 100px;
    height: 30px;
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    cursor: pointer;
}

.modalButton:hover {
    background-color: lightblue;
    border: 1px solid black;
    color: black;
}

.newBookInput {
    width: 200px;
    height: 20px;
}

#topBar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#pageTitle{
    font-family: 'Lobster';
    font-size: 25px;
    text-shadow:
    -1px -1px 0 #fff,
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;  
}

.addButton {
    background-color: blue;
    color: white;
    border-radius: 10px;
    border: 1px solid white;
    width: 200px;
    height: 40px;
    cursor: pointer;
}

.addButton:hover {
    background-color: lightblue;
    border: 1px solid black;
    color: black;
}

#libraryContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--bookWidth), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(var(--bookHeight), 1fr));
    grid-auto-columns: minmax(var(--bookWidth), 1fr);
    grid-auto-rows: minmax(var(--bookHeight), 1fr);

    gap: 14px;
    padding-left: 14px;
    padding-right: 14px;
}

.bookCard {
    position: relative;
    padding-left: 10px;
    background-color: #e0c9a6;
    border: 1px solid black;
    border-left: 10px solid red;
    height: var(--bookHeight);
    width: var(--bookWidth);

    text-align: center;
    box-shadow: 1px 1px 10px white;
}

.newBookModal, .bookCard {
    font-family: 'Crimson Text';
}

.bookTitle {
    font-size: 20px;
    font-weight: bold;
    margin-top: 3px;
}

.statusButton {
    display: flex;
    justify-content: space-around;
}

.statusButtonImg {
    height: 30px;
    scale: 85%;
    cursor: pointer;
}

.createCard {
    position: absolute;
    --createCardHeight: 100px;
    --createCardWidth: 100px;
    width: var(--createCardWidth);
    height: var(--createCardHeight);
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    left: calc(50% - var(--createCardWidth)/2);
    top: calc(50% - var(--createCardHeight)/2);
}